@model WareHouse

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="">
                 <b>Please type ID to find product</b>
            </div>
            <div class="d-flex find-product-div">
               <input type="text" id="searchProductId" class="form-control find-product-input" placeholder="ID">
               <button id="findProduct" class="btn btn-primary">FIND</button>
            </div>
            <span class="text-danger id-required hidden">Field is required</span>
            <span class="text-danger not-found-product hidden">Product not found</span>
        </div>
        <div class="col-md-6 addProductDiv">
            <button id="addProduct" class="btn btn-primary">Add Product</button>
        </div>
    </div>
    <div class="row product-row hidden">
      
    </div>
</div>




@section scripts{
<script src="~/js/productWare.js" asp-append-version="true"></script>
}
<script>

    var findProductURL = "@Url.Action("GetProductById","WareHouse")";
    var addProductWareURL = "@Url.Action("AddProduct","WareHouse")";
</script>