@model List<SaleItem>

<button id="addRow" type="button" class="btn btn-info">Add</button>
<form method="post" asp-action="Sale" asp-controller="Sale" id="formSale">
    <div>
    @*    <input type="hidden" id="total" value="0" />
        <input type="hidden" value="" id="list-items" />*@
        <table class="table">
            <thead>
                <tr>
                    <th>ProductId</th>
                    <th>Name</th>
                    <th>Count</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody id="newRow">
                
                
           
            </tbody>
        </table>
    </div>
    <input type="submit" class="btn btn-primary" value="Post" id="postResult"/>
</form>

@section scripts
{
   <script src="~/js/Sale.js" asp-append-version="true"></script>
}

<script>
    var saleRowURL = "@Url.Action("GetSaleRow","Sale")";
</script>


@*<form method="post"  asp-action="Sale" asp-controller="Sale">
  <table id="ItemListTable">
    <thead>
      <tr>
        <th>Property 1</th>
        <th>Property 2</th>
        <th>Property 3</th>
      </tr>
    </thead>
    <tbody>
      @for (int i = 0; i < Model.ItemList.Count; i++)
      {
        <tr>
          <td><input asp-for="ItemList[i].Total" /></td>
          <td><input asp-for="ItemList[i].Count" /></td>
          <td><input asp-for="ItemList[i].ProductID" /></td>
        </tr>
      }
    </tbody>
  </table>
  <button type="button" id="addNewItemButton">Add New Item</button>
  <button type="submit">Submit</button>
</form>

<script>
  var newItemIndex = @Model.ItemList.Count;
  var ItemListTableBody = document.querySelector('#ItemListTable tbody');
  var addNewItemButton = document.querySelector('#addNewItemButton');
  
  addNewItemButton.addEventListener('click', function() {
    var newRow = document.createElement('tr');
    newRow.innerHTML = `
      <td><input asp-for="ItemList[${newItemIndex}].Property1" /></td>
      <td><input asp-for="ItemList[${newItemIndex}].Property2" /></td>
      <td><input asp-for="ItemList[${newItemIndex}].Property3" /></td>
    `;
    ItemListTableBody.appendChild(newRow);
    newItemIndex++;
  });
</script>*@