@*@model Sale*@

<button id="addRow" type="button" class="btn btn-info">Add</button>
<form method="post">
    <div>
        <input type="hidden" id="total" value="0" />
        <table class="table">
            <thead>
                <tr>
                    <th>ProductId</th>
                    <th>Name</th>
                    <th>Count</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody id="newRow">
                <tr id="inputRow">
                    <td><input class="productId" type="number" name="[0].ProductId" /></td>
                    <td><input class="text" disabled /></td>
                    <td><input class="count" type="number" name="[0].Count" value="1" /></td>
                    <td><input class="total" value="1000" name="[0].Total" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <input type="submit" class="btn btn-primary" value="Post" />
</form>

@section Scripts
    {
    <script>

        let addRow = function () {
            var rowCount = parseInt($("#total").val());
            rowCount++;
            $("#total").val(rowCount);
            var html = '';
            html += '<tr id="inputRow">';
            html += '<td><input id="productId" type="number" name="[' + (rowCount) + '].ProductId"  /></td>';
            html += '<td><input id ="name" type="text" disabled/></td>';
            html += '<td><input id="count" type="number" name="[' + (rowCount) + '].Count" value="1" /></td>';
            html += '<td><input id="total" type="number" name="[' + (rowCount) + '].Total"  disabled/></td>';
            html += '<td><button id="removeRow" type="button" class="btn btn-danger">Remove</button></td>';
            html += '</tr>';

            $('#newRow').append(html);
        };
        let t;
        $('.productId').on('click', function () {
            t = $(this);
            var total = $(this).closest('tr').find('.total').val();
            console.log(total); // or do anything you want with the total value
        });
        $('.productId').blur(function (e) {
            addRow();
            $.ajax({
                type: 'GET',
                url: "/Product/GetProductById/" + $(this).val(),
                contentType: "application/json",
                dataType: "json",
            }).done(function (data) {
                //$(this).closest('#name').val(data.Brand);
                //$(this).closest('input').prop('#total');
                console.log($(this).closest('tr').find('.total').val());
                console.log($(this) == t)
            })
                .fail(function (error) {
                    console.log(data);
                });
        });

        $(document).on('click', '#removeRow', function () {
            var rowCount = parseInt($("#total").val());
            rowCount--;
            $("#total").val(rowCount);
            $(this).closest('#inputRow').remove();
        });
    </script>
}