.find-product-div input {
  width: 500px;
}
.find-product-div button {
  margin-left: 14px;
}

.addProductDiv {
  text-align: right;
}

#addProductForm .row-buttons {
  margin-left: 5px;
}
#addProductForm .row-buttons #removeRowEdit {
  cursor: pointer;
  width: 38px;
  height: 38px;
}
